<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XmlExplorer.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ClientSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 9.75pt</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AutoCompleteMode" serializeAs="String">
                <value>SuggestAppend</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="UseSyntaxHighlighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckDefaultProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNodeToolTips" serializeAs="String">
                <value>False</value>
            </setting>
        </XmlExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XmlExplorer.Properties.Settings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://www.codeplex.com/xmlexplorer/Project/ProjectRss.aspx?ProjectRSSFeed=codeplex://release/xmlexplorer</value>
            </setting>
            <setting name="UpdateReleaseStatus" serializeAs="String">
                <value>Stable</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </XmlExplorer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
